.logo {
    margin-left: 10px;
}

#navbarSupportedContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoutForm {
    margin-left: auto;
    margin-right: 10px;
}
